[Unit]
Description=Program to manage CPU frequencies
After=basic.target

[Service]
Type=simple
ExecStart=pstate-frequency --delay -dd -S -p 0

[Install]
WantedBy=multi-user.target
