[Unit]
Description=Run pstate-frequency on sleep/resume
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=pstate-frequency -dd -S -p 0

[Install]
WantedBy=sleep.target

