[Unit]
Description=Run x86_energy_perf_policy on sleep/resume
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=x86_energy_perf_policy -v normal

[Install]
WantedBy=sleep.target

