[Unit]
Description=Run x86_energy_perf_policy
After=sysinit.target

[Service]
Type=simple
ExecStart=/bin/sh -c "sleep 5 && x86_energy_perf_policy -v normal"

[Install]
WantedBy=multi-user.target

