# The GPLv2 License
#
#   Copyright (C) 2019  Peter Kenji Yamanaka
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 2 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License along
#   with this program; if not, write to the Free Software Foundation, Inc.,
#   51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

##
# DEPRECATED
#
# NOTE: This service file will be deprecated in favor of the pstate-frequency@.service
#       Please migrate to using pstate-frequency@auto.service to keep behavior.

[Unit]
Description=Program to manage CPU frequencies
After=basic.target

[Service]
Type=simple
ExecStart=/bin/sh -c "pstate-frequency --delay -S -p auto"

[Install]
WantedBy=multi-user.target
