# The GPLv2 License
#
#   Copyright (C) 2024  pyamsoft
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 2 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License along
#   with this program; if not, write to the Free Software Foundation, Inc.,
#   51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

[Unit]
Description=Program to manage CPU frequencies
After=tlp.service power-profiles-daemon.service acpid.service laptop-mode.service powertop.service tuned.service tuned-ppd.service

[Service]
Type=simple
ExecStart=%PREFIX%/bin/pstate-frequency --delay -S -p %I

[Install]
WantedBy=graphical.target
