# Sets power states based on the current connected state of the AC Adapter
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="pstate-frequency -s -p 1"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="pstate-frequency -s -p 2"

## # Sets power states based on the current charge of the battery
## SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", RUN+="/usr/bin/pstate-frequency -s -p 1"
## SUBSYSTEM=="power_supply", ATTR{status}=="Charging", RUN+="/usr/bin/pstate-frequency -s -p 2"
## SUBSYSTEM=="power_supply", ATTR{status}=="Full", RUN+="/usr/bin/pstate-frequency -s -p 2"
